.banner,.details{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-flow: column;
    &--title{
        grid-column: 2/10;
    }
}
.banner{
    &--texte{
        grid-column: 2/10;
    }
    &--download{
        grid-column: 2/10;
    }
}
.details{
    .visu{
        grid-column: 1/-1;
    }
    &--loca, &--scan{
        grid-column: 2/10;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-flow: column;
    }
    &--scan{
        img{
            grid-column: 1/3;
        }
        p{
            grid-column: 2/-1;
        }
    }
    &--loca{
        img{
            grid-column: 4/-1;
        }
        p{
            grid-column: 1/6;
        }
    }
}
.contenu{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-flow: column;
  }
footer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:    
    ". . t t t . ." 
    ". l l l . c c" 
    ". l l l . c c" ;
}
footer .title--princ {
  grid-area: t;
}
footer .liste-compl {
  grid-area: l;
}
footer .liste-copy {
  grid-area: c;
}
@media (min-width: 600px){
    .banner{
        &--texte{
            grid-column: 3/9;
        }
        &--download{
            grid-column: 2/9;
        }
    }
    footer{
        padding: 75px 0;
    }
}
@media (min-width: 900px){
    .details{
        .visu{
            grid-column: 1/-1;
        }
        &--loca, &--scan{
            grid-column: 2/10;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-auto-flow: column;
            img,p{
                grid-row: 1;
            }
            p{
                align-self: center;
            }
        }
        &--scan{
            img{
                grid-column: 1/3;
            }
            p{
                grid-column: 4/-1;
            }
        }
        &--loca{
            img{
                grid-column: 4/-1;
            }
            p{
                grid-column: 1/4;
            }
        }
    }
    .banner{
        &--texte{
            grid-column: 3/9;
        }
        &--download{
            grid-column: 3/8;
        }
    }
    footer {
        grid-template-areas:    
        ". . t t t . ." 
        ". l t t t c ." 
        ". l . . . c ." ;
    }
}
@media (min-width: 1200px){
    .banner{
        &--download{
            grid-column: 2/10;
        }
    }
}



