@use  "_var.scss" as v;

body{
  margin: 0;
}
header{
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100vw;
  background-color: v.$color-tertiary;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 20%);
  top: 0;
  margin-bottom: 25px;
  z-index: 1;
}
.logoHead,.logoFoot{
  width: 100px;
  margin: 0 5%;
  background-position: center;
  cursor: pointer;
  text-indent: -9999px;
  background-repeat: no-repeat;
}
.logoHead{
  background-image: url(../../assets/images/logo.svg);
}
.logoFoot{
  width: inherit;
  background-size: 100%;
  background-image: url(../../assets/images/logo_white.svg);
}
.lightmode{
  background-image: url(../../assets/images/mode_day.svg);
  border:none;
  width: 37.5px;
  height: 37.5px;
  padding: 10px;
  cursor: pointer;
  background-color:transparent;
  text-indent: -9999px;
  background-repeat: no-repeat;
  margin: 0 5% 0 0;
}
.banner{
  width: 100vw;
  margin-top: 75px;
  background-color: v.$color-primary;
  &--title{
    margin: 75px 0 25px;
    text-align: center;
  }
  &--download{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 50px;
  }
}
.download{
  &--button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: v.$color-tertiary;
  }
  &--texte{
    margin: 12.5px 0;
  }
  &--lien{
    color: v.$color-secondary;
  }
}
.mas{
  position: relative;
  display: flex;
  flex-direction: column;
  &__el{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    img{
      width: 150px;
    }
  }
  &--title{
    text-align: center;
    margin:37.5px 25px 25px;
  }
}
.visu{
  position: absolute;
  width: 12.5px;
  height: 100%;
  right: 6.75px;
  opacity: 75%;
  background-repeat: no-repeat;
  background-image: url(../../assets/images/visu_1.svg);
  &--02{
      position: relative;
      background-image: url(../../assets/images/visu_2.svg);
      margin: 25px 0;
      width: 100%;
      background-size: 100vw;
      height: 12.5px;
      right: inherit;
  }
  &--03{
    background-image: url(../../assets/images/visu_4.svg);
    left: 6.75px;
    height: 150px;
  }
}
.details {
  margin: 50px 0 0;
  img{
    height: 40vh;
  }
  &--title,&--loca,&--scan{
    margin: 37.5px 0 0;
  }
  &--loca{
    display: flex;
    flex-direction: column;
  }
}
footer {
  margin: 50px 0 0;
  background-color: v.$color-secondary;
  color: v.$color-primary;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 

  ". . t t t . ." 
  ". . t t t . ." 
  ". l l l . c c" 
  ". l l l . c c" 
  ". . . . . . .";
}
footer .title--princ {
  grid-area: t;
}
footer .liste-compl {
  grid-area: l;
}
footer .liste-copy {
  grid-area: c;
}
footer .liste-copy li {
  position: relative;
  overflow: hidden;
}
footer .liste-copy a {
  position: absolute;
  width: 100%;
  height: 100%;
  text-indent: 100%;
  white-space: nowrap;
}
ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: v.$color-tertiary;
}


