@use  "_var.scss" as v;

body{
  color: v.$color-txt;
  margin: 0;
  a{
    cursor: pointer;
  }
}
header{
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100vw;
  background-color: v.$color-tertiary;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 20%);
  top: 0;
  margin-bottom: 25px;
  z-index: 1;
}
.logoHead,.logoFoot{
  width: 100px;
  margin: 0 3%;
  &--span{
    text-indent: -1000%;
    white-space: nowrap;
    position: absolute;
  }
  &--lien{
    display: flex;
    justify-content: center;
  }
}
.logoFoot{
  width: 150px;
  justify-self: center;
}
.lightmode{
  background-image: url(../../assets/images/mode_day.svg);
  border:none;
  width: 37.5px;
  height: 37.5px;
  padding: 10px;
  cursor: pointer;
  background-color:transparent;
  text-indent: -9999px;
  background-repeat: no-repeat;
  margin: 0 5% 0 0;
  border-radius: 10px;
}
main{
  position: relative;
  padding: 0 0 100px;
}
.banner{
  width: 100%;
  height: 110vh;
  background-color: v.$color-primary;
  background-image: url(../../assets/images/fond.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.filtre{
  background-color: #00dbe5CC;
  width: 100%;
  height: 110vh;
  &--title{
    margin: 125px 0 25px;
    text-align: center;
  }
  &--download{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 50px;
  }
}
.download{
  &__el{
    &--button{
      border: none;
      padding: 10px;
      border-radius: 5px;
      background-color: v.$color-tertiary;
    }
    &--texte{
      margin: 12.5px 0;
    }
    &--lien{
      color: v.$color-secondary;
      &:hover{
        text-decoration: underline v.$color-txt;
      }
      &:visited{
        color: v.$color-txt;
        text-decoration: underline v.$color-tertiary;
      }
      &:focus{
        color: v.$color-tertiary;
        background-color: v.$color-fourth;
        border-radius: 5px;
      }
    }
  }
}
.mas{
  position: relative;
  display: flex;
  flex-direction: column;
  &__el{
    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
    }
    img{
      width: 150px;
    }
  }
  &--title{
    text-align: center;
    margin:37.5px 25px 25px;
  }
}
.visu{
  position: absolute;
  opacity: 75%;
  background-repeat: no-repeat;
  width: 12.5px;
  &--01{
    height: 100%; 
    right: 6.75px;
    background-image: url(../../assets/images/visu_1.svg);
  }
  &--02{
      position: relative;
      background-image: url(../../assets/images/visu_2.svg);
      margin: 25px 0;
      width: 100%;
      background-size: 100vw;
      height: 12.5px;
      right: inherit;
  }
  &--03{
    background-image: url(../../assets/images/visu_4.svg);
    left: 6.75px;
    height: 150px;
    top:0;
  }
}
.details {
  margin: 50px 0 0;
  img{
    border-radius: 15px;
    height: 40vh;
  }
  &--title,&--loca,&--scan{
    margin: 37.5px 0 0;
  }
  &--loca{
    img{
      justify-self: end;
    }
  }
}
footer {
  position: relative;
  background-color: v.$color-secondary;
  color: v.$color-tertiary;
  align-items: center;
  padding: 50px 0;
  a{
    cursor: pointer;
    text-decoration: none;
    color: v.$color-tertiary;
  }
}
.liste-copy{
  li {
    position: relative;
    overflow: hidden;
  }
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-indent: 100%;
    white-space: nowrap;
  }
}
.liste-compl, .liste-copy{
  margin: 0;
  display: flex;
  flex-direction: column;
  &__el{
    margin: 12.5px 0;
  }
}
.liste-compl{
  &__el{
    &--lien{
      position: relative;
      display: inline-block;
    }
    &--span{
      display: none;
      color: v.$color-primary;
      text-align: center;
      margin-left: 10px;
      position: absolute;
      z-index: 1;
    }
    &:hover &--span{
      display: initial;
    }
    &--dwm{
      height: 20px;
    }
  }
}
ul{
  list-style: none;
  padding: 0;
}
.bouton{
  font-size: 16px;
  border: none;
  padding: 15px;
  border-radius: 5px;
  &--normal{
    background-color: v.$color-tertiary;
  }
  &--hover{
    background-color: v.$color-secondary;
    cursor: pointer;
    color: v.$color-tertiary;
  }
  &--focus{
    background-color: v.$color-fourth;
    color: v.$color-tertiary;
  }
  &--normal,&--focus{
    border: v.$color-primary solid 1px;
  }
}
.uikit{
  margin-top: 75px;
  &__el{
      .title{

      }
      &--etat{
          flex-direction: column;
          align-items: center;
          text-align: center;
          li:first-child{
              margin-bottom: 16px;
              background-color: v.$color-secondary;
              padding: 0 10px;
          }
          &:nth-child(2){
              text-align: center;
          }
      }
      &--couleurs{
          display: flex;
          justify-content: center;
      }
      &--normal{
          text-align: center;
      }
      &--bouton{
          li:first-child{
            margin-top: 25px;
          }
          .uikit__el--etat{
            display: flex;
            justify-content: center;
            li:first-child{
              background-color: inherit;
            }
          } 
      }
      &--blanc,&--noir,&--turquoise,&--bleufonc{
          color: v.$color-secondary;
      }
      &--blanc{
          background-color: v.$color-tertiary;
          border: 1px solid v.$color-primary;
      }
      &--bleufonc{
          background-color: v.$color-fourth;
      }
      &--noir{
        background-color: v.$color-secondary;
        color: v.$color-tertiary;
      }
      &--turquoise{
          background-color: v.$color-primary;
      }
      &--visited{
          color: v.$color-fourth;
      }
      &--hover,&--normal{
          color: v.$color-tertiary;
      }
      &--hover{
          text-decoration: underline v.$color-tertiary;
      }
      &--focus{
          text-decoration: underline v.$color-primary;
          color: v.$color-primary;
      }
      &--nav{
          justify-content: space-around;
      }
  }
}
.couleurs,.bloc,.uikit__el--nav,.uikit__el--typebtn,.social-res{
  display: flex;
}
.couleurs{
  flex-direction: column;
}
.bloc{
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 49.2px;
  margin: 0 0 18.75px 18.75px;
}
.social-res{
  svg{
    width: 75px;
    margin-right: 12.5px;
  }
}

.contenu{
  padding-top: 100px;
}
nav{
  display: none;
}
.nav{
  list-style: none;
  padding-left: 10px;   
  grid-row: 6;
  grid-column: 1/-1;
  align-self: flex-start;
}
.menubtn--ouvert{
  width: 40px;
  height: 30px;
  justify-self: end;
} 
.menubtn, .menubtn--fermer{
  border:none;
  padding: 10px;
  cursor: pointer;
  background-color:transparent;
  background-image: url(../../assets/images/menu.svg);
  text-indent: -9999px;
  background-repeat: no-repeat;
  margin-right: 5%;
}
.menubtn--fermer{
  padding: 5px 10px 5px;
  background-image: url(../../assets/images/close.svg);
  grid-column: 3;
  grid-row: 3/5;
  align-self: center;
  justify-self: flex-end;
  margin: 0 24.8px;
  width: 25%;
}
.body--nav-open{}
.body--nav-open nav{
  position: fixed;
  padding-bottom:20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: v.$color-fourth;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5,24.8px);
  overflow-y: scroll;
}
.bm{
  position: relative;
  max-width: 100%;
}
figcaption{
  font-size: 14px;
  margin: 12.5px;
}
.nav__el{
  margin: 0 12.5px 12.5px;
  a{
    font-size: 39px;
    color: v.$color-tertiary;
    text-decoration: none;
  }
  &--csprinc, .menu__el--csprinc{
    a{
      font-size: 25px;
    }
  }
}
.photo{
  margin: 62.5px 0 37.5px ;
  align-items: center;
  &__el{
    &--imgvert{
      width: 173.6px;
    }
    &--imghoriz{
      width: 285.2px;
    }
  }
}
.contenu-case__el, .photo{
  display: flex;
  flex-direction: column;
}
.case-texte{
  margin: 19.2px 0 37.2px;
}
.menu{
  display: none;
}
.separateur{
  background-image: url(../../assets/images/visu_2.svg);
  width: 200px;
  height: 3.75px;
  margin: 12.5px 0;
  &--bm{
    width: 262.5px;
    margin: 18.75px 0;
  }
}
a{
  color: v.$color-fourth;
  text-decoration: none;
  &:hover{
    text-decoration: underline v.$color-primary;
  }
  &:visited{
    color: v.$color-fourth;
  }
  &:focus{
    color: v.$color-primary;
    text-decoration: underline v.$color-primary;
  }
}
.menu{
  &__el{
    &--nav{
      a{
        color: v.$color-fourth;
        &:hover{
          text-decoration: underline v.$color-primary;
        }
        &:visited{
          color: v.$color-secondary;
        }
        &:focus{
          color: v.$color-primary;
        }
      }
    }
  }
}
.nav__el--csprinc{
  a{
    color: v.$color-tertiary;
  }
}
.caro-lien{
  margin-left: 12.4px;
  width: 18.6px;
}
.credits{
  &__el{
    a{
      display: flex;
      margin: 24.8px 0;
    }
  }
}
.footer{
  &--credits{
    bottom: 0;
    width: 100vw;
  }
}
.dark{
  .download{
    &__el{
      &--lien{
        color: v.$color-secondary;
        &:hover{
          text-decoration: underline v.$color-txt;
        }
        &:visited{
          color: v.$color-txt;
          text-decoration: underline v.$color-tertiary;
        }
        &:focus{
          color: v.$color-tertiary;
          background-color: v.$color-fourth;
        }
      }
    }
  }
  .uikit{
      &__el{
          &--bleufonc{
              border: 1px solid v.$color-primary;
          }
          &--blanc{
            border: none;
          }
      }
  }
  .liste-compl{
    &__el{
      &--lien{
        &:focus{
          color: v.$color-tertiary;
        }
      }
    }
  }
  .menubtn--ouvert{
    background-image: url(../../assets/images/menu_dark.svg);
  }
  header{
    background: v.$color-secondary;
  }
  .svg-dark{
    fill: v.$color-tertiary;
  }
  .lightmode{
    background-image: url(../../assets/images/mode_night.svg);
  }
  main{
    background-color: v.$color-fourth;
    color: v.$color-tertiary;
  }
  .filtre{
    color: v.$color-secondary;
  }
  a{
    color: v.$color-primary;
    &:hover{
      text-decoration: underline v.$color-tertiary;
    }
    &:visited{
      color: v.$color-primary;
    }
    &:focus{
      color: v.$color-secondary;
      text-decoration: underline v.$color-secondary;
    }
  }
  .menu{
    &__el{
      &--nav{
        a{
          color: v.$color-tertiary;
          &:hover{
            text-decoration: underline v.$color-primary;
          }
          &:visited{
            color: v.$color-secondary;
          }
          &:focus{
            color: v.$color-primary;
          }
        }
      }
    }
  }
}
@media(min-width: 600px){
  .banner{
    height: 110vh;
  }
  .filtre{
    height: 110vh;
    &--download{
      justify-content: space-evenly;
      flex-direction: row;
      margin: 50px 0 50px;
    }
  }
  .mas{
    &__el{
      display: flex;
      flex-direction: row;
      margin-top: 50px;
      padding-bottom: 25px;
      div{
        width: 250px;
        margin: 0 5%;
      }
      &--liste{
        text-align: center;
      }
      img{
        width: 175px;
      }
    }
    &--title{
      margin: 50px;
      text-align: initial;
    }
  }
  .details{
    margin: 50px 0 0;
    img{
      border-radius: 15px;
      height: 40vh;
    }
    p{
      margin: 37.5px 0;
    }
    &--title,&--loca,&--scan{
      margin: 50px 0 25px;
    }
    &--loca{
      img{
        justify-self: end;
      }
    }
  }
  .download{
    &__el{
      &--button{
        padding: 15px;
        &:hover{
          background-color: v.$color-secondary;
          cursor: pointer;
          color: v.$color-tertiary;
        }
        &:focus{
          background-color: v.$color-fourth;
        }
      }
      &--lien{
        &:hover{
          text-decoration: underline v.$color-txt;
        }
        &:visited{
          color: v.$color-txt;
          text-decoration: underline v.$color-tertiary;
        }
        &:focus{
          color: v.$color-tertiary;
          background-color: v.$color-fourth;
          border-radius: 5px;
        }
      }
    }
  }
  .visu{
    &--03{
      left: 18.75px;
    }
    &--01{
      right: 18.75px;
    }
  }
  .liste-compl{
    &__el{
      &--dwm{
        height: 25px;
      }
    }
  }
  .logoHead,.logoFoot{
    width: 100px;
    margin: 0 5%;
  }
  .logoFoot{
    width: 200px;
    &--lien:focus{
      background-color: initial;
    }
  }
  footer{
    padding: 50px 0;
  }
  .social-res{
    svg{
        width: 100px;
    }
  }
  .uikit{
    &__el{
      &--bouton{
        display: flex;
        justify-content: space-evenly;
        li:first-child{
          margin-top: 0;
        }
      }
    }
  }
  .bouton{
    font-size: 18px;
  }
  .couleurs{
    flex-direction: row;
  }
  .groupe{
    &__el{
      display: flex;
      justify-content: space-around;
    }
  }
}
@media (min-width: 900px){
  .footer{
    &--credits{
      bottom: 0;
      position: fixed;
      width: 100vw;
    }
  }
  .menubtn, .menubtn--fermer, .nav-case {
    display: none;
  }
  .mas{
    &__el{
      display: flex;
      flex-direction: row;
      margin-top: 50px;
      justify-content: center;
      div{
        width: 250px;
        margin: 0 5%;
      }
    }
    &--title{
      margin: 75px 100px 50px;
      text-align: initial;
    }
  }
  .details {
    margin: 50px 0 0;
    img{
      border-radius: 15px;
      height: 50vh;
    }
    &--loca,&--scan{
      margin: 100px 0 0;
    }
    &--title{
      text-align: initial;
      margin: 75px 0 25px;
    }
  }
  .filtre{
  }
  .bloc{
    width: 150px;
  }
  .social-res{
    svg{
        width: 125px;
        margin-right: 25px;
    }
  }
  .liste-compl, .liste-copy{
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
  }
  .liste-compl{
    margin-left: 25px;
  }
  .liste-copy{
    margin-right: 25px;
  }
  .nav,.menu__el--nav{
    list-style: none;
    display: flex;
  }
  .nav{
      justify-content: space-around;
      &__el, .menu__el{
        a{
          margin-top: 18.75px;
          font-size: 25px;
      }
    }
  }
  .menubtn{
    &--fermer, .nav-case{
      display: none;
    }
  }
  .bm{
      position: relative;
      max-width: 100%;
  }
  .logo{
      width: 93px;
      height: 93px;
  }
  figcaption{
      font-size: 16px;
  }
  .photo{
    &__el{
      &--imghoriz{
        width: 396.8px;
      }
    }
    &--imgvert{
      width: 198.4px;
    }
  }
  .menu{
      display: block;
      position: fixed;
      width: 246.8px;
      top: 150px;
      margin-left: 18.75px;
  }
}
@media (min-width: 1200px){
  .details {
    img{
      height: 60vh;
    }
  }
  .filtre{
    &--title{
      margin-bottom: 75px;
    }
    &--texte{
      text-align: center;
    }
    &--download{
      justify-content: center;
      margin-left: 37.5px;
      margin-right: 37.5px;
    }
  }
  .download__el{
    margin: 0 25px;
  }
  .uikit{
    &__el{
      &--6{
        margin-bottom: 50px;
      }
      &--9{
        margin-top: 50px;
      }
    }
  }
  .bloc{
    width: 200px;
  }
  .photo{
    margin: 75px 0 100px ;
    &__el{
      &--imghoriz{
        width: 500px;
      }
      &--imgvert{
        width: 225px;
      }
    }
  }
}
