@use "_var.scss" as v;

body{
    font-family: v.$font-txt;
    font-size: 18px;
}
.title{
    font-family: v.$font-title;
    &--princ{
        font-size: 38px;
    }
    &--second{
        font-size: 33px;
    }
}
.download{
    &--button{
        font-size: 16px;
    }
    &--texte{
        font-size: 12px;
    }
    &--lien{
        font-size: 14px;
    }
}
@media (min-width: 600px){
    body{
        font-size: 21px;
    }
    .title{
        &--second{
            font-size: 58px;
        }
    }
    .download{
        &--button{
            font-size: 18px;
        }
        &--texte{
            font-size: 14px;
        }
        &--lien{
            font-size: 16px;
        }
    }
    
}
@media (min-width: 900px){
    body{
        font-size: 25px;
    }
    .title{
        &--second{
            font-size: 67px;
        }
    }
    .download{
        &--button{
            font-size: 21px;
        }
        &--texte{
            font-size: 16px;
        }
        &--lien{
            font-size: 18px;
        }
    }
}
