@use "_var.scss" as v;

body{
    font-family: v.$font-txt;
    font-size: 18px;
    line-height: 1.6;
}
.title{
    font-family: v.$font-title;
    line-height: 1.4;
    &--princ{
        font-size: 58px;
    }
    &--second{
        font-size: 44px;
    }
    &--trois{
        font-size: 28px;
    }
    &--quatre{
        font-size: 25px;
    }
}
.download{
    &__el{
        &--button{
            font-size: 16px;
        }
        &--texte{
            font-size: 12px;
        }
        &--lien{
            font-size: 14px;
        }
    }
}
@media (min-width: 600px){
    body{
        font-size: 21px;
    }
    .title{
        &--second{
            font-size: 58px;
        }
        &--trois{
            font-size: 50px;
        }
        &--quatre{
            font-size: 44px;
        }
    }
    .download{
        &__el{
            &--button{
                font-size: 18px;
            }
            &--texte{
                font-size: 14px;
            }
            &--lien{
                font-size: 16px;
            }
        }
    }
}
@media (min-width: 900px){
    body{
        font-size: 25px;
    }
    .title{
        &--second{
            font-size: 67px;
        }
        &--trois{
            font-size: 58px;
        }
        &--quatre{
            font-size: 50px;
        }
    }
    .download{
        &__el{
            &--button{
                font-size: 21px;
            }
            &--texte{
                font-size: 16px;
            }
            &--lien{
                font-size: 18px;
            }
        }
    }
    footer{
        font-size: 18px;
    }
}
@media (min-width: 1200px){
    body{
        font-size: 25px;
    }
    .title{
        &--second{
            font-size: 103px;
        }
        &--trois{
            font-size: 67px;
        }
        &--quatre{
            font-size: 58px;
        }
    }
    .download{
        &__el{
            &--button{
                font-size: 25px;
            }
            &--texte{
                font-size: 18px;
            }
            &--lien{
                font-size: 21px;
            }
        }
    }
    .filtre{
        &--texte{
            font-size: 38px;
        }
    }
}
