/*Colors*/
$color-txt: #000;
$color-primary: #00dbe5;
$color-secondary: #000;
$color-tertiary: #fff;
$color-fourth: #006166;
/*Type*/
$font-title: 'Nothing You Could Do', cursive;
$font-txt: 'Andika New Basic', sans-serif;
